* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", "sans-serif";
  color: white;
  text-decoration: none;
}

body {
  background-color: black;
}

#app {
  width: 1120px;
  height: 100vh;
  margin: 0 auto;

  padding-top: 70px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 318px;
  margin-bottom: 87px;
}

.input-wrapper {
  width: 640px;
  display: flex;
  align-items: center;
  gap: 8px;
}

input {
  width: 462px;
  height: 48px;
  padding: 16px;
  background-color: #06181c;
  border: none;
  border-radius: 5px;
}

header button {
  padding: 12px 32px;
  background-color: #065e7c;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.scroll {
  max-height: 500px;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #4a808c;
  border-radius: 12px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #0e2125;
  border-radius: 9999px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(6, 22, 27, 0.5);
}

th {
  background-color: #092d38;
  text-align: start;
  padding: 16px 0;
  padding-left: 40px;

  position: sticky;
  top: 0;
  z-index: 2;
}

th:first-child {
  width: 464px;
  border-radius: 12px 0 0 0;
}

.empty-table {
  height: 400px;
  background-color: #030b0d;
  border-radius: 0 0 12px 12px;
}

.empty-table span {
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

span p {
  font-family: "roboto Mono";
  color: #4e5455;
  font-size: 40px;
}

.profile {
  display: flex;
  gap: 16px;
}

.profile img {
  width: 56px;
  height: 56px;
  border-radius: 9999px;
}

.name p,
.repos p,
.follows p {
  font-size: 20px;
  font-weight: bold;
}

.repos p,
.follows p {
  margin-left: 45px;
}

.delete button {
  background: none;
  border: none;
  font-size: 20px;
  color: #f75a68;
  cursor: pointer;
  font-weight: bold;
}

td {
  padding: 24px 0;
}

td:first-child {
  padding-left: 40px;
}

tr:nth-child(even) {
  background: #06181c;
}

.profile {
  border-radius: 12px;

}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 1250px) {
  #app {
    max-width: 1000px;
  }

  .scroll {
    max-height: 260px;
  }


  header {
    gap: 198px;
  }

  table {
    width: 1000px;
  }

  th {
    padding-left: 30px;
  }

  th:first-child {
    width: 380px;
  }

  .empty-table {
    height: 200px;
  }

  .empty-table span {
    gap: 40px;
    padding-top: 60px;
  }

  span img {
    width: 100px;
    height: 90px;
  }

  span p {
    font-size: 30px;
  }
}
